.App {
  text-align: center;
  background: black;
  color: aqua;
  font-size: 36px;
  padding: 1rem;
  font-weight: 600;

}


.App-header {
  font-size: 36px;
  padding: 1rem;
  font-weight: 600;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: black;
  color: aqua;
  height: 150px;
  border: white;
  border-style: ridge;
}

.filter {
  background: black;
  color: aqua;
  bottom: 15px;
  border: white;
  border-style: ridge;
}

.body {
  text-align: center;
}

.filter-header {
  display: inline;
  margin: 10px;
}

.my-number {
  background: black;
  color: aqua;
  bottom: 15px;
  border: white;
  border-style: ridge;
}

.number-history {
  background-color: aqua;
  color: aqua;
  color: black;
}

.random-number {
  background-color: black;
  color: aqua;
}


.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar>.btn {
  margin-right: 1rem;
}

.form-group {
  width: 90%;
}

h2 {
  color: red;
}